@media only screen and (min-width: 1025px) {
    .hide-on-large {
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
        background: #f4f4f4;
        color: #444444;
        font-family: "Poppins", sans-serif;
        overflow-x: hidden;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 6fr;
        grid-auto-flow: row;
        grid-template-areas:
    "navmenu navmenu navmenu"
    "image my-name-and-info my-name-and-info"
    }

    .paragraph {
        padding-left: .2%;
        font-size: 140%;
        color: #444444;
    }

    /* the image of myself on the about page */
    .bennett {
        height: 75vh;
        box-shadow: 85vh 10vh 0 15vh #c1c1c4;
    }

    .image {
        grid-area: image;
        padding-left: 3vh;
    }

    .any {
        color: #4CAF50;
        font-weight: bold;
    }

    .my-name-and-info {
        grid-area: my-name-and-info;
    }

    /*about page text */
    .my-name-and-info h1 {
        padding-left: .2%;
        font-size: 385%;
        color: #444444;
    }

    /* neat little color switch on about page */
    .color-change {
        color: #ffffff;
    }

    h1 {
        padding: 0 0 0 5px;
    }

    .navmenu {
        grid-area: navmenu;
        padding-bottom: 20vh;
    }


    .moreinfo {
        grid-area: moreinfo;
    }
}

    /* links and links menu */
    a {
        text-decoration: none;
        color: #444444;
    }

    nav {
        height: 6rem;
        width: 100vw;
        background-color: transparent;
        display: flex;
        position: fixed;
        z-index: 10;
    }

    /*Styling Links*/
    .nav-links {
        display: flex;
        list-style: none;
        width: 88vw;
        padding: 0 0.7vw;
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
    }

    .nav-links li a {
        text-decoration: none;
        margin: 0 0.7vw;
    }

    .nav-links li a:hover {
        color: #4CAF50;
    }

    .nav-links li {
        position: relative;
    }

    .nav-links li a::before {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: #4CAF50;
        position: absolute;
        transition: all ease-in-out 250ms;
        margin: 0 0 0 10%;
    }

    .nav-links li a:hover::before {
        width: 80%;
    }

    /*Styling Hamburger Icon*/
    .hamburger div {
        width: 30px;
        height: 3px;
        background: #444444;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .hamburger {
        display: none;
    }


/*Stying for small screens*/
@media screen and (max-width: 1200px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
    "navmenu navmenu navmenu"
    "Image Image Image"
    "moreinfo moreinfo moreinfo";
    }

    nav {
        position: fixed;
        z-index: 3;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #cccccc;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(2500px at 90% -10%);
        -webkit-clip-path: circle(2500px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    li.fade {
        opacity: 1;
    }

    /*Animating Hamburger Icon on Click*/
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        transition: all 0.7s ease;
        width: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

@media screen and (max-width: 1024px){
    .hide-on-small {
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
        background: #f4f4f4;
        color: #444444;
        font-family: "Poppins", sans-serif;
        overflow-x: hidden;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 30fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
    "navmenu navmenu navmenu"
    "Image Image Image"
    "moreinfo moreinfo moreinfo";
    }

    .Image {
        grid-area: Image;
    }

    /* the image of myself on the about page */
    .bennett{
        width: 100%;
        z-index: 0;
        box-shadow: 0 25vh 0 0 #c1c1c4;
    }

    .moreinfo {
        padding: 2vh 0 0 2vh;
    }

    .any {
        color: #4CAF50;
        font-weight: bold;
    }

    /*about page text */
    .my-name-and-info h1 {
        padding-top: 2vh;
        margin:  auto;
        text-align: left;
        font-size: 200%;
        color: #444444;
    }

    .my-name-and-info {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .paragraph p {
        padding-top: 2vh;
        margin:  auto;
        text-align: left;
        font-size: 90%;
        color: #444444;
    }

    .paragraph {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /* neat little color switch on about page */
    .color-change {
        color: #ffffff;
    }

    h1 {
        padding: 0 0 0 5px;
    }

    .navmenu {
        grid-area: navmenu;
        padding-bottom: 5vh;
    }

    .moreinfo {
        grid-area: moreinfo;
    }



}


