* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #41B3A3;
}

.container3 h1 {
    text-align: center;
    padding-top: 100px;
    color: lavender;
}

.container3 {

    height: 100vh;
    width: 100%;
    background-image: url("images/orangebackground.svg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}


.navbar {
    padding-top: 20px;
    float: right;
    width: 35%;
}

nav ul li {
    font-size: 20px;
    display: inline-block;
    list-style: none;
    margin: 0 50px;
}

nav ul li a{
    text-decoration: none;
    color: lavender;
}