body {
    background-image: url("images/orangebackground.svg");
    background-color: #41B3A3;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.container3 {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.7fr 2.2fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
    "contact contact nav"
    "image image socials"
    "image image socials";
}

.image {
    margin: 1rem;
    background-image: url("images/bennett.jpg");
    background-position: bottom;
    background-size: cover;
    grid-area: image;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.socials {
    grid-area: socials;
}

.contact {
    grid-area: contact;
}

.contact h1 {
    font-family: "Poppins", sans-serif;
    color: lavender;
}

.navbar {

    grid-area: nav;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 35px;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: lavender;
}
