body {
    margin: 0;
    padding: 0;
    background-image: url(images/contactTDC.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;
}

.content {
    padding-top: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

input,
textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: white;
}

button[type="submit"] {
    background-color: white;
    color: black;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

button[type="submit"]:hover {
    background-color: white;
    color: black;
}
