/* container */
.container {
    max-width: 100%; /* set a maximum width of 100% for the container element */
    margin: 0 auto; /* center the container on the page */
}

/* Styles for the body */
body {
    height: 100vh;
    background-color: #193718;
}

/* makes the Button and H1 header align */
.alignment {
    display: flex;
    align-items: center;
}

.Home, .About, .Contact {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fcaec8;
    font-size: 2vw; /* use a viewport-based unit for the font-size */
    text-align: left;
    background-color: transparent;
    border-color: transparent;
    font-weight: bolder;
    padding: 10px;
}

nav {
    display: flex; /* display the nav as a flex container */
}

ul {
    list-style-type: none; /* remove the bullet points from the list items */
    display: flex; /* display the list items as a flex container */
    justify-content: space-between; /* distribute the list items evenly across the container */
    width: 100%; /* set the width of the container to 100% */
}


/* Styles for the header */
.heading1 {
    color: #fcaec8;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw; /* use a viewport-based unit for the font-size */
    text-align: left;
    padding: 20px;
}

header img {
    padding-top: 20px;

}


/* styles for the main  */
main h2 {
    color: #fcaec8;
    font-family: 'Montserrat', "Segoe UI Semilight";
    font-size: 5vw; /* use a viewport-based unit for the font-size */
}

main p {
    color: #fcaec8;
    text-align: left;
    font-size: 1.5vw; /* use a viewport-based unit for the font-size */
}


