.projects-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh; /* To make sure it takes up full height of the page */
    grid-gap: 20px;
}



.project-item1 {
    grid-column: 1 / 2; /* To span across first column */
    grid-row: 1 / 3; /* To span across both rows */
    background-image: url("images/desktop-wallpaper-lofi-ramen-shop-lofi-tokyo.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}

.project-item2 {
    grid-column: 2 / 3; /* To span across second column */
    grid-row: 1 / 2; /* To span across first row */
    background-image: url("images/HD-wallpaper-japan-lofi-hiphop-jazz.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}

.project-item3 {
    grid-column: 2 / 3; /* To span across second column */
    grid-row: 2 / 3; /* To span across second row */
    background-image: url("images/ye.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}

body {
    background-image: url("images/orangebackground.svg");
    background-color: #41B3A3;
    background-position: center;
    background-size: cover;
}

