
/* Add a gradient background to the body */
body {
    height: 100vh;
    background-image: linear-gradient(to top, #6e7f80, #f4c2c2, #8a2be2);
}

/* Style the header h1 with a unique font and color */
header h1 {
    color: #fcd500 ;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    text-align: center;
    padding: 20px;
    text-shadow: 4px 4px 8px pink, 8px 8px 16px purple, 12px 12px 24px blue;
}

/* Styles for the search bar */
.search-button {
    background-color: transparent;
}

/* Styles for the search input */

.search-input {
    background-color: transparent;


}

/* Styles for the main h3 button */
main {
    padding-top: 100px;
    text-align: center;
}


/* styles for the button "project" */
.project {
    position: relative;
    height: 10vh;
    background-color: transparent;
    right: 0px;
    transition: background-color 0.3s ease;
}

/* Styles for the imbeded spotify playlist */
iframe {
    position: center;
}

/* Styles for hovering over the Vibez Project button */
.project:hover {
    background-color: #9033e1;
}

